main {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto;
	grid-row-gap: 50px;
	grid-column-gap: 20px;
	justify-content: center;
	grid-auto-flow: row;
	align-content: center;
}


h1 {
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	background-color: #eb8d2f;
	opacity: 0.7;
	color: white;
	margin-bottom: 20px;
}

.menu {
	text-align: center;
	color: #eb8d2f;
	font-family: 'Avenir', sans-serif;
	font-weight: normal;
	display: inline-block;

}

.browse a {
	
	color: #eb8d2f;
}

.button {
	border: 1px solid;
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	color: #eb8d2f;
}


h3 {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
	padding-left: 50px;
}

.bun {
	height: 200px;
	width: 500px;
}

.left {
	float: left;
	width: 50%;
}

.page: after {
	content: "";
	display: table;
	clear: both;
}

.homebun {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-top: 5%;
}

.center {
	margin: auto;
}

.parent {
	text-align: center;
}

#link {
	color: #eb8d2f;
}
