
/*
	font-family: 'Noto Sans TC', sans-serif; HEADINGS
	font-family: 'Montserrat', sans-serif; SUBTITLE
	font-family: 'Lato', sans-serif; TEXT
*/

header {
	text-align: center;
	color: black;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 70px;
	margin-bottom: 70px;
	margin-top: 30px;
}

.name {
	text-align: center;
	color: #969696;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-top: 15px;
	font-weight: lighter;
}

.page {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	color: black;
}

.homeicon {
	object-position: center;
	object-fit: cover;
	text-align: center;
}

.col-md-4 {
	text-align: center;
	display: grid;
}

.books, .quotes, .portfolio {
	position: relative;
}

.books h2, .quotes h2, .portfolio h2 {
	position: absolute;
	top: 170px;
	left: 125px;
	bottom: 0;
}

.title_text {
	margin-top: 50px; 
}

a {
	text-decoration-line: none;
	color: inherit;
}

.footer h3 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #4A90E2;
	margin-top: 200px;
	font-size: 24px;
}




